body{
    margin: 0;
    font-family: ;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 35px;
    color: brown;
}

.big-p{
    margin-right: 15px;
}
.orange-highlight{
    color: darkorange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    margin: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.link-button:hover{
    color: blue;
    font-size: 25px;
}
.dream-area{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 60%;
    background-color: white;
}
.experiens-area{
    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#start-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
li:nth-child(2n+1){
    color: blue;
    background-color: antiquewhite;
    font-size: 20px;
}
a:visited{
    color: red;
}

.buttom{
    text-align: center;
}
p::before{
    content: "💖";
}
